/* @tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

/* Dark mode */
/* :root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
} */
@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

html {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

/* Dark mode */
:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}
